.Title_one{
text-align: center;
font-size: 7em;
  text-decoration:wavy;
background-color: rgb(115, 118, 137);
font-family:Georgia, 'Times New Roman', Times, serif;
  -webkit-text-stroke: 5px rgb(242, 153, 21);
  color:rgba(0, 0, 0, 0.943)}
  body{
    background-image:url(images.png)
  }
  .balls{
    padding-left: 90px;
  }
  .flag{
    padding-left: 600px;
    
  }
  .idk{
    text-align: center;
    background-color: rgb(44, 191, 213);
    font-size: 3em
  }
  .head{
    padding-bottom: 10px;
    text-align: center;
    font-size:3em;
  }
  h2{
    text-align: center;
    font-size:4em;
  }
.footy{

padding-left:2px;
}
.goat{


   padding-left: 250px
}
.injury{
  padding-left: 250px;
}
li{
  font-family: cursive;
  font-size: 2.5em;

}
.leicester{
  padding-left:35px;
}
.barca,.psg{
  padding-left:250px;
}
.nextone{
  font-size: 4em;
  text-align: center;
  padding-bottom:100px;
}



